body,ul,ol,dl,h1,h2,h3,h4,h5,h6,p,input,dt,dl,dd,li{
	margin: 0;
	padding: 0;
    list-style: none;
	font-family: 
}
body{
	font-size: 12px;
    color: #333;
	font-family: "宋体";
}
a{
	text-decoration: none;
    color: #808080;
}
img{
	border: none;
}
*{
	box-sizing:border-box;
}
@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_nunr5h3dlijjdcxr.eot');
    src: url('http://at.alicdn.com/t/font_nunr5h3dlijjdcxr.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_nunr5h3dlijjdcxr.woff') format('woff'),
    url('http://at.alicdn.com/t/font_nunr5h3dlijjdcxr.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_nunr5h3dlijjdcxr.svg#iconfont') format('svg');
}
/*导航栏*/
.nav{
    width: 100%;
    height: 44px;
    background: #020202;
}
.nav-container{
    width: 1000px;
    height: 44px;
    margin: 0 auto;
    /*两端对齐（元素必须是行元素或行内块元素）*/
    text-align: justify;
    /*用户是否能够选中内容*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: default;

}
.nav-container:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.nav-list{
    height: 44px;
    line-height: 44px;
    /*把一个元素变为行内块元素*/
    display: inline-block;
}
.nav-list a{
    color: white;
    transition: color 0.5s;
    font-size: 14px;
}
.nav-list a:hover{color: #999}
.show-s{display: none;}
@media screen and (max-width: 1068px){
    .nav-container{
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 735px){
    .hidden-s{
        display: none;
    }
    .show-s{
        display: inline-block;
        transition:color 0.5s;
        color: white;
        cursor: pointer;
    }
    .show-s:hover{color: #999;}
    
}
#iconfont{font-family: "iconfont";}

/*banner*/
.banner-container{
    width: 100%;
    height: 512px;
}
.banner-box{
width: 100%;
height: 100%;
}
.banner-list{
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
}

.banner-list a{
    display: block;
    width: 100%;
height: 100%;
position: relative;
overflow: hidden;

}
.banner-tittle{
    width: 100%;
    height: 130px;
    margin:0 auto;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color:#000;
    background-color: #0a0a0a;
}
.banner-img{
    width: 100%;
    height: 432px;
    background-image: url(images/banner-l.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    left:0;top: 30%;
}
.banner-tittle div{
    height: 24px;
    display: block;
    background: url(images/iPhone.png) no-repeat center center;
    margin:0 auto;

}
.banner-tittle h2{
      font-size: 42px;
      font-weight:normal;
      color:#fff; 
}
@media screen and (max-width: 1068px){
    .banner-c{
        height:467px; 
    }
    .banner-img{
        height: 360px;
        top: 38%;
       background-image: url(images/banner-m.jpg) ;
       
    }
}
@media screen and (max-width:735px; ){
    .banner-c{
        height:500px; 
    }
    .banner-img{
        height: 360px;
        top: 40%;
       background-image: url(images/banner-s.jpg) ;
       
    }
}
/*产品展示*/
.container{
    width: 100%;
    height: auto;
    padding: 1px;

}
.container:after{
    content: "";
    display: block;
    clear: both;
}
.container .list{
    float: left;
    width: 25%;
    height: 200px;
    background-position: center;
}
.container .list:nth-child(1){
    background-image: url(images/l1.jpg);
    border-right: 1px solid #fff;
}
.container .list:nth-child(2){
    background-image: url(images/l2.jpg);
    border-right: 1px solid #fff;
}
.container .list:nth-child(3){
    background-image: url(images/l3.jpg);
    border-right: 1px solid #fff;
}
.container .list:nth-child(4){
    background-image: url(images/l4.jpg);
}
@media screen and (max-width:1068px){
    .container .list{
        float: left;
        width: 50%;
        height: 200px;
        background-position: center;
    }
    .container .list:nth-child(1){
        background-image: url(images/m1.jpg);
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .container .list:nth-child(2){
        background-image: url(images/m2.jpg);
        border-bottom: 1px solid #fff;
    }
    .container .list:nth-child(3){
        background-image: url(images/m3.jpg);
        border-right: 1px solid #fff;
    }
    .container .list:nth-child(4){
        background-image: url(images/m4.jpg);
    }
}
@media screen and (max-width:736px){
    .container .list{
        float: left;
        width: 100%;
        height: 200px;
        background-position: center;
    }
    .container .list:nth-child(1){
        background-image: url(images/s1.jpg);
        border-bottom: 1px solid #fff;
    }
    .container .list:nth-child(2){
        background-image: url(images/s2.jpg);
        border-bottom: 1px solid #fff;
    }
    .container .list:nth-child(3){
        background-image: url(images/s3.jpg);
        border-bottom: 1px solid #fff;
    }
}    
/*底部*/
@media screen and (max-width:1068px){
    .more{
        width:100%;
    }
}
@media screen and (max-width:735px) {
    .more {
        width:100%;
    }
}
.more{
    width:980px;
    height:auto;
    border-bottom:1px solid #e9e9e9;
    margin:0 auto;
}
.more span{
    height:48px
    color:#b1b1b1;
    line-height:24px;
    font-size:12px;
}
.more a{
    height:48px;
    color:#1082cf;
    line-height:24px;
    font-size:10px;
}
.more a:hover{
    color:#000000;
    text-decoration:underline;
}
.bottom-bottom{
    width:980px;
    height:70px;
    margin:0 auto;
    font-size:10px;
}
.bottom-one{
    width:233px;
    height:70px;
    float:left;
    color:#99a3b9;
    line-height:20px;
}
.bottom-one a{
    color:#99a3b9;
}
.bottom-two{
    width:480px;
    height:15px;
    float:left;
}
.bottom-two a{
    width:75px;
    height:15px;
    border-right:1px solid #8f8f87;
    float:left;
    margin-left: 15px;
    color:#6e667d;
}
.bottom-two a:hover{
    text-decoration:underline;
}
.bottom-three{
    width:21px;
    height:10px;
    float:right;
}
.bottom-three a{
    color:#8f8f8f;
    font-size:12px;
}
.bottom-three a:hover{
    color:#333333;
    text-decoration:underline;
}
.footer{
    width:100%;
    height:405px;
    background:#f2f2f2;
}
.footer-container{
    width:980px;
    height:auto;
    background:red;
    margin:0 auto;
}
.footer-cols{
    width:20%;height:260px;
    float:left;
}
@media screen and (max-width:1068px) {
     .footer-container{
        width:100%;
        padding-left:10px;
     }  
}
@media screen and (max-width:735px){
    .footer-cols{
        width:100%;
        height:auto;
    }
    .footer-title{
        padding-left:10px;
        border-bottom:1px solid #8c8c8c;
    }
    .footer-title span{
       display: block;
       float:right;  
       color:#000;
       padding-right:10px;
    }
    .footer-cols ul{
        height:0;
        overflow:hidden;
    }
    .bottom-two{
        width:100%;
        height:auto;
        margin-left:10px;
    }
    .bottom-one{
        width:100%;
        height:auto;
        margin-left:10px;
    }
    .bottom-three{
        width:100%
        height:auto;
        margin-left:10px;
    }
    .more span a{
        width:100%
        height:auto;
        margin-left:10px;
        display:none;
    }
}
.footer-cols a{
    color:#8f8f8f;
    font-size:12px;
}
.footer-cols a:hover{
    color:#000000;
    text-decoration:underline;
}
.footer-title{
    height:48px
    color:#b1b1b1;
    line-height:48px;
}